<div class="panel panel-default">
<p id="notice"><%= notice %></p>
  <div class="panel-heading">
    <h1>Pins</h1>
  </div>
  <div class="panel-body">
    <table >
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pins.each do |pin| %>
        <tr>
          <td><%= pin.description %></td>
          <td><%= link_to 'Show', pin %></td>
          <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  

 
<div class="panel-footer">
  <%= link_to 'New Pin', new_pin_path %>
</div>
</div>
